Mingxun Wang <mwang87@gmail.com> <mingxun@Mingxuns-MacBook-Air-2.local>
Madeleine Ernst <enmeilin@gmail.com> <madeleineernst@Madeleines-MacBook-Pro.local>
Deepa Acharya <dacharya@wisc.edu> <deepaacharya@Deepas-MacBook-Air.local>
Laura-Isobel McCall <mccall.lauraisobel@gmail.com> <47761122+mccall-lab-OU@users.noreply.github.com>
